Package: me.nepeta.axonnext
Name: AxonNext
Depends: mobilesubstrate, firmware (>= 14.0)
Conflicts: io.ominousness.stackxi, com.thomasfinch.priorityhub, com.ioscreatix.intelixbeta, com.ioscreatix.intelix, com.spiritoflogic.ncunify, com.spiritoflogic.unifyx, com.hidan.nclink10, org.coolstar.ventana-modern, org.coolstar.ventana, org.s1ris.spinxi, me.nepeta.axon
Version: 2.0
Architecture: iphoneos-arm64
Description: Priority Hub for iOS 14-16.5 (Rootless/Roothide) - Next Generation
Maintainer: AxonNext
Author: Based on Axon by Nepeta & Baw Appie
Section: Tweaks
