<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <!-- 开启 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>ENABLED</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <true/>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>key</key>
                        <string>enabled</string>
                        <key>label</key>
                        <string>ENABLED</string>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>ENABLED_RESPRING</string>
                </dict>

                <!-- 垂直模式 -->
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>key</key>
                        <string>vertical</string>
                        <key>label</key>
                        <string>VERTICAL</string>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>VERTICAL_INFO</string>
                </dict>

                <!-- 触感反馈 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>HAPTIC_FEEDBACK</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <true/>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>key</key>
                        <string>hapticFeedback</string>
                        <key>label</key>
                        <string>HAPTIC_FEEDBACK</string>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 深色模式 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>DARK_MODE</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>default</key>
                        <integer>0</integer>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>detail</key>
                        <string>AXNListItemsController</string>
                        <key>key</key>
                        <string>DarkMode</string>
                        <key>label</key>
                        <string>DARK_MODE</string>
                        <key>validTitles</key>
                        <array>
                                <string>SYSTEM</string>
                                <string>LIGHT</string>
                                <string>DARK</string>
                                <string>BLUR</string>
                                <string>TRANSPARENT</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <integer>0</integer>
                                <integer>1</integer>
                                <integer>2</integer>
                                <integer>3</integer>
                                <integer>4</integer>
                        </array>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 样式 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>STYLE</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>default</key>
                        <integer>0</integer>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>detail</key>
                        <string>AXNListItemsController</string>
                        <key>key</key>
                        <string>style</string>
                        <key>label</key>
                        <string>STYLE</string>
                        <key>validTitles</key>
                        <array>
                                <string>DEFAULT</string>
                                <string>PACKED</string>
                                <string>COMPACT</string>
                                <string>TINY</string>
                                <string>GROUP</string>
                                <string>ROUNEDED_GROUP</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <integer>0</integer>
                                <integer>1</integer>
                                <integer>2</integer>
                                <integer>3</integer>
                                <integer>4</integer>
                                <integer>5</integer>
                        </array>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 默认显示 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>SHOW</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>default</key>
                        <integer>0</integer>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>detail</key>
                        <string>AXNListItemsController</string>
                        <key>key</key>
                        <string>showByDefault</string>
                        <key>label</key>
                        <string>SHOW</string>
                        <key>validTitles</key>
                        <array>
                                <string>NOTHING</string>
                                <string>LATEST_NOTIFICATION</string>
                                <string>FIRST_SECTION</string>
                                <string>SELECTED_SECTION</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <integer>0</integer>
                                <integer>1</integer>
                                <integer>2</integer>
                                <integer>3</integer>
                        </array>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 排序 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>SORTING</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>default</key>
                        <integer>0</integer>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>detail</key>
                        <string>AXNListItemsController</string>
                        <key>key</key>
                        <string>sortingMode</string>
                        <key>label</key>
                        <string>SORTING</string>
                        <key>validTitles</key>
                        <array>
                                <string>BY_DATE</string>
                                <string>BY_COUNT</string>
                                <string>BY_NAME</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <integer>0</integer>
                                <integer>1</integer>
                                <integer>2</integer>
                        </array>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 图标样式 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>ICON_STYLE</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>default</key>
                        <integer>0</integer>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>detail</key>
                        <string>AXNListItemsController</string>
                        <key>key</key>
                        <string>iconStyle</string>
                        <key>label</key>
                        <string>ICON_STYLE</string>
                        <key>validTitles</key>
                        <array>
                                <string>ROUNDED</string>
                                <string>SQUARE</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <integer>0</integer>
                                <integer>1</integer>
                        </array>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 布局设置 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>LAYOUT</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>LAYOUT_SETTINGS</string>
                        <key>detail</key>
                        <string>AXNLayoutSettings</string>
                </dict>

                <!-- 动画设置 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>ANIMATION</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>ANIMATION_SETTINGS</string>
                        <key>detail</key>
                        <string>AXNAnimationSettings</string>
                </dict>

                <!-- 手势设置 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>GESTURES</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>GESTURE_SETTINGS</string>
                        <key>detail</key>
                        <string>AXNGestureSettings</string>
                </dict>

                <!-- 通知过滤 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>FILTER</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>FILTER_SETTINGS</string>
                        <key>detail</key>
                        <string>AXNFilterSettings</string>
                </dict>

                <!-- 选择样式 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>SELECTION_STYLE</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>default</key>
                        <integer>0</integer>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>detail</key>
                        <string>AXNListItemsController</string>
                        <key>key</key>
                        <string>selectionStyle</string>
                        <key>label</key>
                        <string>SELECTION_STYLE</string>
                        <key>validTitles</key>
                        <array>
                                <string>BACKGROUND</string>
                                <string>DIM</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <integer>0</integer>
                                <integer>1</integer>
                        </array>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 模糊 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>ADD_BLUR</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <false/>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>key</key>
                        <string>addBlur</string>
                        <key>label</key>
                        <string>ADD_BLUR</string>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 位置 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>LOCATION</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>LOCATION</string>
                        <key>detail</key>
                        <string>AXNLocationController</string>
                </dict>

                <!-- 对齐 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>ALIGNMENT</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkListCell</string>
                        <key>default</key>
                        <integer>1</integer>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>detail</key>
                        <string>AXNListItemsController</string>
                        <key>key</key>
                        <string>alignment</string>
                        <key>label</key>
                        <string>ALIGNMENT</string>
                        <key>validTitles</key>
                        <array>
                                <string>LEFT</string>
                                <string>CENTER</string>
                                <string>RIGHT</string>
                        </array>
                        <key>validValues</key>
                        <array>
                                <integer>0</integer>
                                <integer>1</integer>
                                <integer>2</integer>
                        </array>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 角标 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>BADGES</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <true/>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>key</key>
                        <string>badgesEnabled</string>
                        <key>label</key>
                        <string>BADGES</string>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSwitchCell</string>
                        <key>default</key>
                        <true/>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>key</key>
                        <string>badgesShowBackground</string>
                        <key>label</key>
                        <string>SHOW_BACKGROUND</string>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 间距 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>SPACING</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSSliderCell</string>
                        <key>default</key>
                        <real>10</real>
                        <key>defaults</key>
                        <string>me.nepeta.axon</string>
                        <key>key</key>
                        <string>spacing</string>
                        <key>min</key>
                        <real>0</real>
                        <key>max</key>
                        <real>30</real>
                        <key>showValue</key>
                        <true/>
                        <key>label</key>
                        <string>SPACING</string>
                        <key>PostNotification</key>
                        <string>me.nepeta.axon/ReloadPrefs</string>
                </dict>

                <!-- 调试 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                        <key>label</key>
                        <string>DEBUG</string>
                </dict>
                <dict>
                        <key>cell</key>
                        <string>PSLinkCell</string>
                        <key>label</key>
                        <string>DEBUG</string>
                        <key>detail</key>
                        <string>AXNDebugController</string>
                </dict>

                <!-- 注销 -->
                <dict>
                        <key>cell</key>
                        <string>PSGroupCell</string>
                </dict>
                <dict>
                        <key>action</key>
                        <string>respring:</string>
                        <key>cell</key>
                        <string>PSButtonCell</string>
                        <key>label</key>
                        <string>RESPRING</string>
                </dict>
        </array>
        <key>title</key>
        <string>AxonNext</string>
</dict>
</plist>
